/*Homepage styling*/
.main-heading {
	text-align: center;
}
.main-sub-heading {
	color: #727272;
}

/*Desktop only styles*/
@media only screen and (min-width: 1200px) {
	.main-heading {
		text-align: center;
		margin-top: 10%;
	}
}