/*Site wide styling*/
body {
	background-color: #EDEDED !important;
}
nav {
	font-weight: 600;
}
.product-pay, .pay-by-card {
	text-align: center;
}

/*Homepage and other page styling*/
.main-heading {
	text-align: center;
}
.main-sub-heading {
	color: #727272;
}
.small-para {
	font-size: 12px;
}

/*Store styling*/
.divider {
	height: 20px;
}

/*Desktop only styles*/
@media only screen and (min-width: 1200px) {
	.main-heading {
		text-align: center;
		margin-top: 10%;
	}
}